---
import { containerStyles } from '~/styles/container';
import clsx from 'clsx';
import {marked} from 'marked';
import Image from '../image.astro';

interface Props {
  text: string;
  images: {
    image: string;
    badge: string;
  }[];
}

const props = Astro.props;

const content = marked.parse(props.text);
---

<section class={clsx(containerStyles, "py-24 !max-w-5xl")}>
    <div class="text-xl font-medium text-justify indent-12 text-dark-800 mb-32" set:html={content}></div>
  <div class="grid grid-cols-1 sm:grid-cols-3 gap-6 justify-center">
    {props.images.map((image, index) => (
      <figure class="flex mx-auto items-center drop-shadow-lg sm:w-52 sm:h-52 lg:w-72 lg:h-72 rounded-2xl overflow-hidden relative sm:nth-[2]:-mt-16">
        <Image src={image.image} alt={image.badge} class="w-full h-full object-cover bg-blend-overlay bg-secondary-800" />
        <div class="absolute inset-0 bg-dark-800/50 backdrop-blur hover:opacity-100 transition-opacity opacity-0 duration-500 flex items-center justify-center px-4" >
          <p class="font-medium text-xl text-primary-100 text-center">{image.badge}</p>
        </div>
      </figure>
    ))}
  </div>
</section>