---
import { containerStyles } from '~/styles/container';
import clsx from 'clsx';
import type { SectionType } from '~/types/helper';
import { urlForImage } from "~/lib/image-resolver";

type Props = SectionType<'content-w-image'>;

const {title, text, image, _key, variant, titleTag} = Astro.props;
const TitleTag = titleTag ?? 'p';

const imageProps = urlForImage(image!);
---

<section id={_key} class="flex justify-center bg-gray-50">
  <div class={clsx(containerStyles, "grid grid-cols-1 lg:grid-cols-2 gap-8 lg:gap-12 py-12", {
    'bg-white rounded-t-xl -mt-20': variant === 'merge-with-top',
  })}>
    <div class="flex flex-col justify-start py-6">
      <TitleTag class="text-2xl lg:text-5xl leading-snug font-display mb-4 text-primary-500">{title}</TitleTag>
      <p class="text-lg">{text}</p>
    </div>
    {image && (
      <div class="relative">
        <img src={imageProps.url()} alt={title} class="object-cover" />
      </div>
    )}
  </div>
</section>