---
import { containerStyles } from '~/styles/container';
import clsx from 'clsx';
import type { SectionType } from '~/types/helper';
import { Button } from '../button';
import { resolveLink } from '~/lib/resolve-link';

type Props = SectionType<'double-content'>;

const {_key, sections, titleTag} = Astro.props;
const TitleTag = titleTag ?? 'p';

const [section1, section2] = sections ?? [];
---

<section id={_key} class="flex justify-center bg-gray-50">
  <div class={clsx(containerStyles, "grid grid-cols-1 lg:grid-cols-2 gap-8 lg:gap-12 py-12")}>
    {section1 && (
      <div class="flex flex-col justify-start px-6 py-4 lg:px-12 lg:py-8 bg-secondary-600 rounded-md">
        <TitleTag class="text-3xl lg:text-5xl leading-snug font-display mb-4 text-gray-50">{section1.title}</TitleTag>
        <p class="lg:text-lg text-gray-50 mb-4">{section1.text}</p>
        {section1.cta?.[0] && (
          <Button variant='neutral' {...resolveLink(section1.cta[0])}>
            {section1.cta[0].title}
          </Button>
        )}
      </div>
    )}
    {section2 && (
      <div class="flex flex-col justify-start px-6 py-4 lg:px-12 lg:py-8">
        <TitleTag class="text-3xl lg:text-5xl leading-snug font-display mb-4 text-primary-500">{section2.title}</TitleTag>
        <p class="lg:text-lg mb-4">{section2.text}</p>
        {section2.cta?.[0] && (
          <Button className='w-fit' variant='primary' {...resolveLink(section2.cta[0])}>
            {section2.cta[0].title}
          </Button>
        )}
      </div>
    )}
  </div>
</section>