---
import clsx from "clsx"
import {marked} from "marked"
import { containerStyles } from "~/styles/container"
import { Button } from "../button"
import type { CTA } from "~/types/cta";
import Image from "../image.astro";
import { inlineMarkupBgSecondary } from "~/styles/inline-markup";

interface Props {
  title: string;
  content: string;
  image: string;
  cta: CTA;
}

const { title, content, cta, image } = Astro.props;
---
  <div class="relative isolate ">
    <div class={clsx(containerStyles, 'max-sm:px-0')}>
      <div class="mx-auto flex max-w-2xl flex-col gap-16 bg-secondary-800 px-6 py-16 shadow-2xl rounded-3xl sm:p-8 lg:mx-0 lg:max-w-none lg:flex-row lg:items-center lg:py-20 xl:gap-x-20 xl:px-20">
        <Image
          alt=""
          src={image}
          class="h-96 w-full flex-none rounded-2xl object-cover shadow-xl lg:aspect-square lg:h-auto lg:max-w-sm"
        />
        <div class="w-full flex-auto">
          <h2 class="text-pretty text-2xl font-semibold tracking-tight text-white sm:text-3xl mb-4">
            {title}
          </h2>
          <div set:html={marked.parse(content)} class={clsx(inlineMarkupBgSecondary, '**:text-neutral-200')}></div>
          <div class="mt-10 flex">
            <Button as="a" href={cta.url} variant={cta.variant} target={cta.external ? "_blank" : undefined}>
             {cta.text} 
            </Button>
          </div>
        </div>
      </div>
    </div>
  </div>
