---
import clsx from "clsx";
import {Button} from "~/components/button"
import type { CTA } from "~/types/cta";
import { resolveImage } from "~/lib/resolve-image";
import { baseUrl } from "~/lib/resolver-base-url";
import { containerStyles } from "~/styles/container";

export interface Props {
  title: string;
  badge?: string;
  subtitle: string;
  image: string;
  cta?: CTA;
}

const { badge,title, subtitle, image, cta} = Astro.props;

const imageUrl = await resolveImage(image);

---

<section style={`background-image: url(${baseUrl() + imageUrl});`} class={clsx("rounded-xl w-full flex items-center justify-center min-h-[700px] bg-blend-overlay bg-secondary-800", containerStyles)}>
  <div class="text-center max-w-xl">
    { badge && (
      <p class="text-sm uppercase text-primary-400 font-bold bg-primary-400/5 border border-primary-400 rounded-full px-4 py-1 w-fit text-center mx-auto mb-4">{badge}</p>
    )}
    <h1 class="text-4xl lg:text-6xl font-bold text-neutral-100 mb-1">{title}</h1>
    <p class="text-base lg:text-lg text-neutral-100 mb-8">{subtitle}</p>
    {cta && (
      <Button href={cta.url} variant={cta.variant} target={cta.external ? "_blank" : undefined}>
        {cta.text}
      </Button>
    )}
  </div>
</section>